$fadedWhite100: #f5f5f5;
$fadedWhite200: #ebebeb;
$fadedWhite300: #e0e0e0;
$fadedWhite400: #d6d6d6;
$fadedGray100: #cccccc;
$fadedGray200: #707070;
$fadedBlack100: #333333;
$fadedBlack200: #292929;
$fadedBlack300: #1f1f1f;
$fadedBlack400: #141414;


.font-card {
  @apply tw-text-base tw-not-italic tw-font-normal tw-tracking-normal tw-leading-4 tw-text-start tw-whitespace-normal tw-break-words tw-hyphens-auto;
}
